%h1 My bets

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  Your Bets
  %tbody
    - my_created_bets.each do |bet|
      %tr
        %td= bet.name
        %td= link_to 'Show', bet
        -if bet.is_done?
          %td= link_to 'Win' , bet_path(bet,bet: { winner_code: 'creator'}), method: :put, data: {confirm: 'Are you sure' }
          %td= link_to 'Lose', bet_path(bet,bet: { winner_code: 'taker'}), method: :put, data: {confirm: 'Are you sure' }
        %td= link_to 'Edit', edit_bet_path(bet) if bet.is_protected?
        %td= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } if bet.is_protected?
  %br
%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  Bets you took
  %tbody
    - my_taken_bets.each do |bet|
      %tr
        %td= bet.name
        %td= link_to 'Show', bet

= link_to 'New Bet', new_bet_path