%p
  %b Name:
  = bet.name

%p
  %b Description:
  = bet.description

%p
  %b Between
  = bet.creator.name
  and
  = bet.is_taken? ? bet.taker_name : 'still waiting for challenger'
%p
  %b Started on
  = bet.start_on
  %b Finished on
  = bet.finish_on

%p
  %b Prize
  = bet.prize.description
= link_to 'Edit', edit_bet_path(bet), class: 'btn btn-default' if !bet.taker_user_id

= link_to 'Back', bets_path, class: 'btn btn-default'
